body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

button{
    padding: 18px 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: hsla(360, 21%, 91%, 1);
    border-radius: 8px;
    text-align: center;
}

button:hover{
    cursor: pointer;
}

.grid-child{
    background-color: wheat;
}

#container{
    border: solid #228bf4;
    border-width: 32px;
    border-radius: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 720px;
    height: 720px;
}

/*#container>div:nth-child(16n){
    width:100%;
    border: 0;
    height: 0;
}*/