body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 9px;
}

.grid-child{
    border: 1px solid crimson;
    background-color: currentColor;
}

.grid-child:hover{
    background-color: mediumvioletred;
}

#container{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 720px;
    height: 720px;
    background-color: aqua;
}

/*#container>div:nth-child(16n){
    width:100%;
    border: 0;
    height: 0;
}*/